#content {
    background-color: white;
    text-align: center;
}
#card_title {
    text-align: center;
    font-size: 5em;
}
#main_card_container {
    width: 60%;
    height: 600px;
    background-color: white;
    margin: auto;
}
#upper_card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 49%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cornsilk;
}
#lower_card {
    margin-top: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 49%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;
}
#button_container {
    background-color: white;
    margin: auto;
    padding-top: 5px;
}
.card_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
}
.button {
    background-color: aquamarine;
    font-size: 1.5em;
    margin: auto;
}