{% extends "layout.html" %}
{% block content%}
    <div id="card_title">Welcome to FlashCards!</div>
    <div id="main_card_container">
        <div id="upper_card">
            <p class="card_text">Stand in text to make something appear</p>
        </div>
        <div id="lower_card">
            <p class="card_text">Stand in text to make something appear</p>
        </div>
    </div>
    <div id="button_container">
        <button class="button">Start</button>
        <button class="button">Previous</button>
        <button class="button">Next</button>
    </div>
{%endblock content%}